/* ================================= */
/* ======= components css========= */
/* ================================= */

aside{
    height: 100vh;
    overflow: auto;
    transition: all 0.4s;
    position:fixed;
    left: 0;
    top:0;
    width: inherit;
    z-index: 1;
}

aside ul .nav-link{
    font-size: 20px;
    font-weight: 600;
}

aside.close{
left:-40%;
transition: all 0.4s;
}

aside ul .nav-link.active{
    background-color: white;
    color:rgb(220, 53, 69) !important;
    box-shadow:0 .125rem .25rem rgba(0,0,0,.075);
    position: relative;
    transition:none;
}


