/* ================================= */
/* ======= components css========= */
/* ================================= */

/* ========= header ============== */

header ul .nav-item .nav-link{
    cursor: pointer;
    font-weight: 600;
}

header ul .nav-item .nav-link:hover{
    background-color: #0d6efd !important;
    color: white !important;
}

header .custom-dropdown-menu ul{
    min-width: max-content;
}

header .custom-dropdown-menu {
    right: 0;
}

header .fa-notification-icon{
    position: absolute;
    font-size: 8px;
    right: 2px;
}

header .fa-notification-list{
    font-size: 10px;
}